@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');
@import "tailwindcss";

@theme {
    --font-share-tech: "Share Tech", sans-serif;
    --color-dark: #333333;
    --color-primary: #4772FA;
    --color-secondary: #FFB000;
}

@source "../views";